.footer {
    height: 20vh;
    background-color: black;
    margin: 0;
    padding: 0;
    color: white;
}

.footer p {
    text-align: center;
    padding-top: 2rem;
    font-size: 1rem;
}

.icons {
    height: 2rem;
    filter: invert(100%);
    padding: .5rem;
}

.socialMedia {
    display: flex;
    justify-content: center;
    gap: 2rem;

}

@media (min-width: 768px) {

    .footer p {
        text-align: center;
        padding-top: 2rem;
        font-size: 1.5rem;
    }

    .icons{
        padding-top: 1.5rem;
        height: 3rem;
    }
}

@media (min-width: 1000px) {

    .footer {
        height: 25vh
    }

    .footer p {
        text-align: center;
        padding-top: 2rem;
        font-size: 2rem;
    }

    .icons{
        padding-top: 1.5rem;
        height: 4rem;
    }
}