body, html {
    padding: 0;
    margin: 0;
    border: 0;
}

.title {
    margin: 0;
    border: 0;
    left: 0;
    background-color: black;
    height: 8vh;
    border-radius: 1rem;
    color: white;
    align-content: center;
}

.title img {
    height: 3rem;
    padding-left: 1.2rem;
}

.logo {
    display: none;
}

.welcome {
    padding: 1rem;
}

.welcome h1 {
    font-size: 2rem;
}

.sportsContainer {
    height: 25vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}

/* Icons with colors */

.icons {
    height: 2rem;
    padding: 1rem 1.8rem;
}

/* Baseball collections */

.mlb {
    background-color: #F5F6F8;
    padding-bottom: 3rem;
    border-radius: 1.5rem;
}

.mlb h2, .lmb h2 {
    text-align: right;
    padding: 2rem 1rem 0rem 1rem;
    font-weight: 400;
}

.mlbContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.line {
    border-bottom: .5px solid rgb(190, 186, 186); /* Creates a 2px solid black line at the bottom */
    width: 90%; 
    justify-self: center;
}

/* Items with colors */

.item {
    width: 10rem;
}

.mlbContent .item img{
    height: 14rem;
    border-radius: 1.5rem;
    margin-top: 2.5rem;
    padding: .5rem;
    border: .1px solid rgb(220, 218, 218);
}

.item img{
    height: 12rem;
    padding: 1rem 1.1rem;
    border-radius: 1.5rem;
}

.item p {
    font-size: 1rem;
    font-weight: 250;
    text-align: left;
}

.item .price {
    font-size: 1rem;
}

.item .description {
    font-size: .8rem;
    color: gray;
}

.lmb {
    margin-top: 1rem;
    border: .1px solid rgb(220, 218, 218);
    border-radius: 1.5rem;
}

/* iPads and smaller desktops*/
@media (min-width: 768px) {
    .title {
        display: none;
    }
    .welcome {
        height: 25vh;
        background-color: black;
        color: white;
        border-radius: 1rem;
    }

    .welcome h1 {
        padding-top: 6.5rem;
        padding-left: 2rem;
    }
    .welcome p {
        font-size: 1.5rem;
        padding-left: 2rem;
    }


    .sportsContainer {
        height: 15vh;
    }

    .icons {
        height: 2.5rem;
    }

}



  /* Desktop */
  @media (min-width: 1024px) {
    .title {
        display: none;
    }
    .welcome {
        height: 25vh;
        background-color: black;
        color: white;
        border-radius: 1rem;
    }

    .welcome h1 {
        padding-top: 6.5rem;
        padding-left: 2rem;
    }
    .welcome p {
        font-size: 1.5rem;
        padding-left: 2rem;
    }

    .sportsContainer {
        height: 20vh;
    }

    .item {
        width: 15rem;
    }

    .icons {
        height: 4rem;
    }

    .mlb h2, .lmb h2 {
        font-size: 4rem;
        padding: 2rem 3.5rem 0rem 0rem;
    }

    .mlbContent .item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: .5rem 3rem;
    }

    .mlbContent .item p{
        font-size: 1.5rem;
    }

    .mlbContent .item img {
        height: 18rem;
    }

    .item p {
        text-align: center;
        margin: .5rem 1rem 1rem 1rem;
    }


}
